---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Mon blog d'apprentissage Astro</h1>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
        <li><a href="/productou/posts/agri1/">Article 1</a></li>
        <li><a href="/productou/posts/agri2/">Article 2</a></li>
        <li><a href="/productou/posts/agri3/">Article 3</a></li>
    </ul>
</BaseLayout>

   
   
  </body>
</html>
